# Object files
*.o
*.obj

# Executables
*.out
*.exe
*.elf

# Static and shared libraries
*.a
*.so
*.dll

# Build directories
build/
bin/

# Debug files
*.dSYM/
*.gdb_history

# VS Code
.vscode/

# CLion
.idea/
cmake-build-*/

# Vim swap files
*.swp

# macOS
.DS_Store

#java
*.class

# Ignore everything in week_2_assign
week_2_assign/*

# Keep C source files
!week_2_assign/*.c

# Ignore everything in week_3_assign/programming
week_3_assign/programming/*

# Keep C source files
!week_3_assign/programming/*.c
